<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/a/css/index.css">
  <title>Index</title>
</head>
<body>
  <header class="header">
      <nav class="nav">
          <img src="/a/img/bg.png" class="logo nav-link" width="250" height="80">
          <ul class="nav-menu">
              <li class="nav-menu-item">
                  <a href="#" class="nav-menu-link nav-link">Biblioteca</a>
              </li>
              <li class="nav-menu-item">
                  <img class="perfil" src="/a/img/perfil.png" >
              </li>
          </ul>
      </nav>
  </header>
  <main>
      <p class="titulo">Libros Destacados</p>
      <img class="book" src="/a/img/Libros/libro1.png">
      <img class="book2" src="/a/img/Libros/libro2.png">
      <img class="book3" src="/a/img/Libros/libro3.png">
      <img class="book4" src="/a/img/Libros/libro4.png">
      <img class="book5" src="/a/img/Libros/libro5.png">
      <img class="book6" src="/a/img/Libros/libro6.png">
      <img class="book7" src="/a/img/Libros/libro7.png">
      <img class="book8" src="/a/img/Libros/libro8.png">
  </main>
</body>
