<div class="options">
  <p class="text1">Opciones del Bibliotecario</p>
</div>
<div class="group">
  <a href="/Aportes_Quiroga/src/app/pages/book/book.component.html" class="text2">⫸Registro de Libro</a>
</div>
  <div class="lines">
      <i class="fa-solid fa-circle fa-2xs onlineDot " style="color:#5BDF48"></i><p class="online">ONLINE</p>
      <i class="fa-solid fa-circle fa-2xs onlineOff " style="color:#ff0000"></i><p class="offline">OFFLINE</p>
      <div class="line1">
          <p class="numeroUsuarios">Cantidad de Uusuarios</p>
          <div class="line1_1">
              <i class=" users fa-solid fa-user" style="color: #000000;"><p>50</p></i>
              <i class=" usersoffline fa-solid fa-user" style="color: #000000;"><p>200</p></i>
          </div>
      </div>
  </div>
  <div class="lines2">
      <div class="line2_2">
          <p class="books">DESCARGAS</p>
          <i class="fa-solid fa-download fa-2xl desc " style="color: #000000;"></i><p class="numDesc">70</p>
      </div>
  </div>
  <div class="lines3">
      <div class="line3_3">
          <p class="bookshelf">LIBROS</p>
          <i class="fa-solid fa-book fa-2xl libro " style="color: #000000;"></i><p class="bookshelfs">200</p>
      </div>
  </div>
